html {
  background: linear-gradient(-45deg, rgb(255, 38, 0), black, black, rgb(255, 38, 0));
}

.App {
  text-align: center;
  background: linear-gradient(-45deg, rgb(0, 13, 255), black, black, rgb(0, 13, 255));
  color: gold;
  font-family: garamond;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(255, 184, 6);
    padding: 1%;
  }

.API-source {
  width: 20%;

}

.searchmovie {
  border-radius: 20px;
  font-size: 1rem;
  padding: 0.7rem;
  width: 100%;
 background-color: black;
 color: rgb(255, 184, 6);
}

.searchmovie:active {
  outline: none;
}



.scroll {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
}

footer {
  background-color: black;
  color:gold;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}