.App {
  text-align: center;
  background-color:  black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(255, 184, 6);
    padding: 1%;
  }

.API-source {
  width: 20%;

}

.searchmovie {
  border-radius: 20px;
  font-size: 1rem;
  padding: 0.7rem;
  width: 100%;
 background-color: black;
 color: rgb(255, 184, 6);
}

.searchmovie:active {
  outline: none;
}




.page-title {
  border: 2px solid silver;
  padding: 1%;
  background-color: rgb(52, 7, 52);
  color: rgb(255, 184, 6);
}


.scroll {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
}

