.App {
  text-align: center;
  background-color: black;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchmovie {
  border-radius: 40px;
  font-size: 1rem;
  padding: 0.7rem;
  width: 30%;
 background-color:  rgb(52, 7, 52);
 color: rgb(255, 184, 6);
}


.page-title {
  border: 2px solid silver;
  padding: 1%;
  background-color: rgb(52, 7, 52);
  color: rgb(255, 184, 6);
}