.moviecontainer {
    display: flex;
    flex-flow: row nowrap;
    height: 50vh;
    background-color: black;
    margin-bottom: 8%;
    overflow-x: auto;
}

.moviecontainer::-webkit-scrollbar {
    width: 10px;
}

.movie::-webkit-scrollbar {
    width: 10px;
}

.movie {
    background-color: rgba(128, 128, 128, 0.573);
    margin: 1%;
}


.movieimage {
    height: 35vh;
    width: 20vw;
    margin: 1rem;
    margin-bottom: 0;
    border: 2px solid goldenrod;
    
}

.title {
    margin-bottom: 10vh;
    height: 8vh;
    margin-top: 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.title:hover {
    text-decoration: underline;
}


.moviecontainersearch {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: black;
    margin-bottom: 8%;
}

.moviesearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchbutton {
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}