.moviecontainer {
    display: flex;
    flex-flow: row nowrap;
    height: 60vh;
    background-color: black;
    margin-bottom: 8%;
    overflow-x: auto;
    justify-content: center;
}

.moviecontainer::-webkit-scrollbar {
    width: 10px;
}

.movie::-webkit-scrollbar {
    width: 10px;
}

.movie {
margin: 1rem;
}


.movieimage {
    height: 35vh;
    width: 12.5vw;
    margin-bottom: 0;
    border: 2px solid rgb(183, 137, 21);
    border-radius: 10%;
    
}

.title {
    margin-bottom: 10vh;
    height: 8vh;
    margin-top: 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-align: center;
}

.title:hover {
    color: silver;
}

.info {
    display: flex;
    justify-content: center;
}

.moviecontainersearch {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: black;
   
}

.moviesearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.searchbutton {
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}